@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: theme('colors.purple.900');
}

table tr:last-child td:first-child {
  border-bottom-left-radius: 0.5rem;
}

table tr:last-child td:last-child {
  border-bottom-right-radius: 0.5rem;
}
